<!DOCTYPE html>
<html lang="en">
    <head>
        <title>vue-login</title>
        <meta charset="UTF-8">
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        <meta name="format-detection" content="telphone=no, email=no">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="cache" content="no-cache">
        <link href="./login.css" rel="stylesheet">
    </head>
    <body>
       <div class="container" id="app" v-cloak>
           
           <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image:url(../../images/login/vue.jpg)"></div>
                    <div class="swiper-slide" style="background-image:url(../../images/login/vue.jpg)"></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div>
                <ul class="my-info-box">
                    <li class="my-info-box-item">
                        <div class="my-info-box-item-title">
                            name:
                        </div>
                        <div class="my-info-box-item-inputbox">
                            <input type="text" maxlength="18" v-model="username"/>
                        </div>
                    </li>
                    <li class="my-info-box-item">
                        <div class="my-info-box-item-title">
                            password:
                        </div>
                        <div class="my-info-box-item-inputbox">
                            <input type="password" maxlength="18" v-model="password" />
                        </div>
                    </li>
                </ul>
                <div class="tips-box" v-show="loadingSign">
                    <span>*</span><span class="tip-content">{{tips}}</span>
                </div>
                <div class="btn-box">
                    <div class="btn" v-on:click="_goLogin()">
                        login my vue
                    </div>
                </div>
            </div>
            <div class="nav-box">
                <ul class="nav-bar">
                    <a href="#"><li>login</li></a>
                    <a href="../shake/shake.html"><li>shake</li></a>
                </ul>
            </div>
       </div>
    </body>
    <script src="../../assests/require.js" data-main ="../../assests/router.js" defer async="true"></script>
</html>